@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-display: "Space Grotesk", sans-serif;
}

:root {
  /* Light Mode */
  --bg-primary: #ffffff;
  --text-primary: #111111;
  --text-secondary: #666666;
  --border-color: #e5e5e5;
  --sidebar-bg: #ffffff;
}

[data-theme="dark"] {
  /* Dark Mode Colors */
  --bg-primary: #0a0a0a;
  --text-primary: #ededed;
  --text-secondary: #888888;
  --border-color: #262626;
  --sidebar-bg: #0a0a0a;
}

body {
  font-family: var(--font-sans);
  background-color: var(--bg-primary);
  color: var(--text-primary);
  transition:
    background-color 0.3s,
    color 0.3s;
  overflow-x: hidden;
}

/* hilangin scrollbar */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
